.signup-btn{
    width: 120px;
    height: 40px;
    margin-top: 12rem;
    background-color: white;
    border: 2.5px solid crimson;
    border-radius: 5px;
    transition: transform 0.2s;
    font-weight: bold;
}

.signup-btn:hover {
    transform: scale(1.1); /* Scale the button up on hover (10% larger) */
}

.signup-btn:active {
    transform: scale(1.1); /* Scale the button up when it's clicked (10% larger) */
}
