.signup-btn{
    width: 75px;
    margin-top: 12rem;
    background-color: #007BFF ;
    border-radius: 5px;
    transition: transform 0.2s;
    font-weight: bold;
    color: white;
    margin-left: 3px;
}

.signup-btn:hover {
    transform: scale(1.1);
    color: white;
}

.signup-btn:active {
    transform: scale(1.1);
}